<% include header.ejs %>
<section class="container">
    <div class="banner row">
        <!--顶部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/images/banner1.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--顶部通栏 end-->
    </div>

    <div class="course row">
        <div class="col-md-3">
            <!--左侧通知区 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-danger">
                    <h4>报名通道<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <p>登录后方可开始选科，帐号是6位数字的学号，密码是姓名的完整拼音(全部小写，不加空格)。如登录失败，请尝试姓名中多音字的其它读音。选科报名信息成功提交后无法修改。</p>
                <p>截止日期：12月15日</p>
                <p class="text-center">
                    <a class="btn btn-success btn-lg" href="course/signup" role="button"><i class="fa fa-gg"></i> 选科模拟报名</a>
                </p>
            </div>

            <div class="widget-box no-border hidden-xs">
                <div class="widget-box_title bs-callout bs-callout-danger">
                    <h4>二维码<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <div id="qrcode" class="text-center"></div>
            </div>
            <!--左侧通知区 end-->
        </div>

        <div class="col-xs-12 col-md-9">
            <!--物理 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>高中与大学学科对应表：物理<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    <li class="widget-links_item" style="text-indent:2em;">物理学是一门基础自然科学，它所研究的是：物质的基本结构、最普遍的相互作用、最一般的运动规律以及所使用的实验手段和思维方法。</li>
                    <li class="widget-links_item" style="text-indent:2em;">近代物理学推动了信息技术、新材料技术、新能源技术、航空航天技术、生物技术等的迅速发展，继而推动了人类社会的变化。</li>
                    <li class="widget-links_item" style="text-indent:2em">高中物理课程：有助于学生继续学习基本的物理知识与技能；体验科学探究过程，了解科学研究方法；发展探索自然、理解自然的兴趣与热情；认识物理学对科技进步以及文化、经济和社会发展的影响。</li>
                    <p class="text-center"><img src="/images/wuli.jpg" style="max-width:100%;"></p>
                </ul>
            </div>
            <!--物理 end-->
        </div>

        <div class="col-xs-12 col-md-9 pull-right">
            <!--化学 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>高中与大学学科对应表：化学<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    <li class="widget-links_item" style="text-indent:2em;">化学是在原子、分子水平上研究物质的组成、结构、性质及其应用的一门基础自然科学。其特征是研究分子和创造分子。迅猛发展的化学已成为生命科学、材料科学、环境科学、能源科学、信息科学等领域的重要基础。</li>
                    <li class="widget-links_item" style="text-indent:2em;">高中化学课程应有助于学生主动构建自身发展所需的化学基础知识和基本技能，进一步了解化学学科的特点，加深对物质世界的认识；有利于学生形成科学的自然观和严谨求实的科学态度，更深刻地认识科学、技术和社会之间的相互关系。</li>
                    <p class="text-center"><img src="/images/huaxue.jpg" style="max-width:100%;"></p>
                </ul>
            </div>
            <!--化学 end-->
        </div>

        <div class="col-xs-12 col-md-9 pull-right">
            <!--生物 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>高中与大学学科对应表：生物<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    <li class="widget-links_item" style="text-indent:2em;">生物科学是自然科学中的基础学科之一，是研究生物现象和生命活动规律的一门科学。它是农、林、牧、副、渔、医药卫生、环境保护及其他有关应用科学的基础。</li>
                    <li class="widget-links_item" style="text-indent:2em;">新课程标准的实施期望使每一个学生通过学习生物，能够对生物学知识有更深入的理解，能够使他们对今后的职业选择和学习方向有更多的思考；能够在探究能力、学习能力和解决问题能力方面有更好的发展；能够在责任感、合作精神和创新意识等方面得到提高。</li>
                    <p class="text-center"><img src="/images/shengwu.jpg" style="max-width:100%;"></p>
                </ul>
            </div>
            <!--生物 end-->
        </div>

        <div class="col-xs-12 col-md-9 pull-right">
            <!--政治 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>高中与大学学科对应表：政治<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    <li class="widget-links_item" style="text-indent:2em;">思想政治课教学要着眼于当代社会发展和高中学生成长的需要，增强思想政治教育的时代感、针对性、时效性和主动性，强调对知识、能力、态度的有机整合。</li>
                    <li class="widget-links_item" style="text-indent:2em;">当下的政治学科要着眼学生发展需求，拓展学生发展空间，提高学生参与现代社会生活的能力，从而促进学生人文素养养成，奠定学生终身发展的思想政治素质。</li>
                    <p class="text-center"><img src="/images/zhengzhi.jpg" style="max-width:100%;"></p>
                </ul>
            </div>
            <!--政治 end-->
        </div>

        <div class="col-xs-12 col-md-9 pull-right">
            <!--历史 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>高中与大学学科对应表：历史<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    <li class="widget-links_item" style="text-indent:2em;">历史学习使学生学会从不同角度认识历史发展中全局与局部、历史与现实、中国与世界的内在联系；培养学生从不同视角发现、分析和解决问题的能力，提高人文素养，形成正确的世界观、人生观和价值观。让学生更好地发现自己的兴趣，从而学会学习、学会独立、学会生存。</li>
                    <p class="text-center"><img src="/images/lishi.jpg" style="max-width:100%;"></p>
                </ul>
            </div>
            <!--历史 end-->
        </div>

        <div class="col-xs-12 col-md-9 pull-right">
            <!--地理 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>高中与大学学科对应表：地理<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <ul class="widget-links list-unstyled">
                    <li class="widget-links_item" style="text-indent:2em;">地理学是研究地理环境以及人类活动与地理环境相互关系的科学。它具有两个显著的特点：</li>
                    <li class="widget-links_item" style="text-indent:2em;">第一，综合性。地理环境由大气圈、水圈、岩石圈、生物圈等圈层构成，是地球层各种自然要素、人文要素有机组合而成的复杂系统。地理学兼有自然科学与社会科学性质。</li>
                    <li class="widget-links_item" style="text-indent:2em">第二，地域性。地理学不仅研究地理事物的空间分布和空间结构，而且阐明地理事物的空间差异和空间联系，并致力于揭示地理事物的空间运动、空间演变的规律。地理学在现代科学体系中占有重要地位，在解决当代人口、资源、环境和发展等问题中具有重要作用。</li>
                    <p class="text-center"><img src="/images/dili.jpg" style="max-width:100%;"></p>
                </ul>
            </div>
            <!--地理 end-->
        </div>
    </div>
</section>

<script>
    jQuery('#qrcode').qrcode({width:200, height:200, text:""});
</script>
<% include footer.ejs %>
