
<footer class="footer">
    <!--页脚 begin-->
    <div class="container bg-primary">
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-10">
                <div style="line-height:30px; margin-top:10px;">Copyright &copy; 2015-2019 ♂古月Sir@麻城市第一中学</div>
                <div style="line-height:30px;">地址：湖北省麻城市建设西路31号 ┋ 邮编：438300</div>
                <div style="line-height:30px; margin-bottom:10px;">
                    <div class="pull-left" style="margin-right:20px;">
                        <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42118102000158" style="color:#fff; text-decoration:none;"><img src="/images/beian.png" alt=""><span>鄂公网安备 42118102000158号</span></a>
                    </div>
                    <div class="pull-left" style="margin-bottom:10px;">
                        <a href="http://www.miibeian.gov.cn" style="color:#fff; text-decoration:none;"><span>鄂ICP备15002830号</span></a>
                        <span style="margin-left:15px;">Powered by 辛巴达CMS</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 text-right hidden-xs" style="margin-top:39px;">
                <img src="/images/html5.png" alt="HTML5">
            </div>
        </div>
    </div>
    <!--页脚 end-->
</footer>
</body>
</html>
