<% include header.ejs %>
<section class="container">
    <div class="banner row">
        <!--顶部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/images/banner1.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--顶部通栏 end-->
    </div>

    <div class="news row">
        <div class="col-xs-12 col-md-12">
            <!--新闻列表 begin-->
            <% news.forEach(function(item){ %>
            <div class="col-xs-12 col-md-11ths panel panel-default pull-left">
                <div class="media panel-body" style="margin-left:-15px; margin-right:-15px;">
                    <div class="media-left hidden-xs">
                        <img class="media-object img-circle" src="/images/news.png" alt="">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading ellipsis"><a href="news/view/<%= item.id %>"><%= item.title %></a></h5>
                        <p><%= item.pubtime %></p>
                        <p style="height:50px;"><%= item.summary %></p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-11ths panel panel-default pull-right">
                <div class="media panel-body" style="margin-left:-15px; margin-right:-15px;">
                    <div class="media-left hidden-xs">
                        <img class="media-object img-circle" src="/images/news.png" alt="">
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading ellipsis"><a href="news/view/<%= item.id %>"><%= item.title %></a></h5>
                        <p><%= item.pubtime %></p>
                        <p style="height:50px;"><%= item.summary %></p>
                    </div>
                </div>
            </div>
            <% }) %>

            <div style="clear:both;"></div>

            <div class="article-feed">
                <!-- .news will be added to .article-feed -->
                <article class="news"></article>
                <article class="news"></article>
            </div>

            <!-- status elements -->
            <div class="scroller-status">
                <div class="infinite-scroll-request loader-ellips">
                  ...
                </div>
                <p class="infinite-scroll-last">End of content</p>
                <p class="infinite-scroll-error">No more pages to load</p>
            </div>

            <!-- pagination has path -->
            <p class="pagination">
                <a class="pagination__next" href="./news/page/1">Next page</a>
            </p>
            <!--新闻列表 end-->
        </div>
    </div>

    <div class="banner row">
        <!--底部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/images/banner2.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--底部通栏 end-->
    </div>
</section>

<script>
$(function(){
    $('.article-feed').infiniteScroll({
        path: '.pagination__next',
        append: '.news',
        status: '.scroller-status',
        hideNav: '.pagination',
        //history: false,
    });
});
</script>
<% include footer.ejs %>
