<% include header.ejs %>
<section class="container">
    <div class="banner row">
        <!--顶部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/images/banner1.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--顶部通栏 end-->
    </div>

    <% for(var i=0; i<categories.length; i++){ %>
    <div class="photos row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <!-- 图片缩略图 begin -->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4><%= categories[i].category %><a href="photo/waterfall"><span class="pull-right fa fa-camera" style="padding-right:10px;"></span></a></h4>
                </div>
                <% for(var j=0; j<subcategories.length; j++){ %>
                    <% if (categories[i].category == subcategories[j].category) { %>
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <a href="photo/view/<%= subcategories[j].id %>"><img src="<%= subcategories[j].url %>" alt=""></a>
                            <div class="caption">
                                <h5 class="text-center"><%= subcategories[j].subcategory %></h5>
                            </div>
                        </div>
                    </div>
                    <% } %>
                <% } %>
            </div>
            <!-- 图片缩略图 end -->
        </div>
    </div>
    <% } %>
</section>
<% include footer.ejs %>
