<% include header.ejs %>
<section class="container">
    <div class="banner row">
        <!--顶部通栏 begin-->
        <div class="col-md-12">
            <div class="widget-box no-border">
                <a href="#"><img src="/images/banner1.jpg" alt="" style="width:100%;"></a>
            </div>
        </div>
        <!--顶部通栏 end-->
    </div>

    <div class="score row">
        <div class="col-xs-12 col-md-9">
            <!--单次成绩 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>考试名称：<%= score[0].bz %><span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>

                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-primary circle">语文：<%= score[0].yw %><br /><br />名次：<%= score[0].ywmc %></button>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-warning circle">数学：<%= score[0].sx %><br /><br />名次：<%= score[0].sxmc %></button>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-info circle">英语：<%= score[0].yy %><br /><br />名次：<%= score[0].yymc %></button>
                </div>
                <% if (score[0].wlmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-danger circle">物理：<%= score[0].wl %><br /><br />名次：<%= score[0].wlmc %></button>
                </div>
                <% } %>
                <% if (score[0].hxmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-success circle">化学：<%= score[0].hx %><br /><br />名次：<%= score[0].hxmc %></button>
                </div>
                <% } %>
                <% if (score[0].swmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-primary circle">生物：<%= score[0].sw %><br /><br />名次：<%= score[0].swmc %></button>
                </div>
                <% } %>
                <% if (score[0].lzmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-warning circle">理综：<%= score[0].lz %><br /><br />名次：<%= score[0].lzmc %></button>
                </div>
                <% } %>
                <% if (score[0].zzmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-info circle">政治：<%= score[0].zz %><br /><br />名次：<%= score[0].zzmc %></button>
                </div>
                <% } %>
                <% if (score[0].lsmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-danger circle">历史：<%= score[0].ls %><br /><br />名次：<%= score[0].lsmc %></button>
                </div>
                <% } %>
                <% if (score[0].dlmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-success circle">地理：<%= score[0].dl %><br /><br />名次：<%= score[0].dlmc %></button>
                </div>
                <% } %>
                <% if (score[0].wzmc != 0) { %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-primary circle">文综：<%= score[0].wz %><br /><br />名次：<%= score[0].wzmc %></button>
                </div>
                <% } %>
                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-2">
                    <button type="button" class="btn btn-warning circle">总分：<%= score[0].zf %><br /><br />名次：<%= score[0].jm %></button>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                        <strong><span class="glyphicon glyphicon-thumbs-up"></span> 亲，本次考试中，你打败了<%= total[0].jm - score[0].jm %>位同学，继续加油哦！</strong>
                    </div>
                </div>
            </div>
            <!--单次成绩 end-->
        </div>

        <div class="col-md-3 hidden-xs hidden-sm">
            <!--二维码 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-danger">
                    <h4>二维码<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <div id="qrcode" class="text-center"></div>
                <div class="text-center">手机扫一扫，成绩早知道</div>
            </div>
            <!--二维码 end-->
        </div>
    </div>

    <% if (strlen == 18) { %>
    <div class="score row">
        <!--成绩曲线 begin-->
        <div id="charts" class="hidden-xs" style="margin-top:20px;"></div>
        <!--成绩曲线 end-->
    </div>

    <div class="score row">
        <div class="col-md-12 hidden-xs">
        <!--历次成绩 begin-->
            <div class="widget-box no-border">
                <div class="widget-box_title bs-callout bs-callout-info">
                    <h4>高中阶段历次考试成绩<span class="pull-right fa fa-bars" style="padding-right:10px;"></span></h4>
                </div>
                <div class="col-md-12 hidden-xs">
                <% scores.forEach(function(score){ %>
                <table class="table table-bordered text-center">
                    <tr>
                        <td colspan="20"><%= score.bz %></td>
                    </tr>
                    <tr>
                        <td>语文</td><td>名次</td><td>数学</td><td>名次</td><td>英语</td><td>名次</td>
                        <td>物理</td><td>名次</td><td>化学</td><td>名次</td><td>生物</td><td>名次</td>
                        <td>政治</td><td>名次</td><td>历史</td><td>名次</td><td>地理</td><td>名次</td>
                        <td>总分</td><td>名次</td>
                    </tr>
                    <tr>
                        <td><%= score.yw %></td><td><%= score.ywmc %></td>
                        <td><%= score.sx %></td><td><%= score.sxmc %></td>
                        <td><%= score.yy %></td><td><%= score.yymc %></td>
                        <td><%= score.wl %></td><td><%= score.wlmc %></td>
                        <td><%= score.hx %></td><td><%= score.hxmc %></td>
                        <td><%= score.sw %></td><td><%= score.swmc %></td>
                        <td><%= score.zz %></td><td><%= score.zzmc %></td>
                        <td><%= score.ls %></td><td><%= score.lsmc %></td>
                        <td><%= score.dl %></td><td><%= score.dlmc %></td>
                        <td><%= score.zf %></td><td><%= score.jm %></td>
                    </tr>
                </table>
                <% }) %>
                </div>
            </div>
            <!--历次成绩 end-->
        </div>
    </div>
    <% } %>
</section>

<script>
    jQuery('#qrcode').qrcode({width:200, height:200, text:"<%= url %>"});
</script>
<% if (strlen == 18) { %>
<script>
$(function(){ 
    $('#charts').highcharts({
        chart: {
            type: 'line'
        },
        credits: {
            enabled: false
        },
        title: {
            text: '高中阶段个人成绩曲线图'
        },
        xAxis: {
            labels: {
                rotation: -45
            },
            categories: [
                <% for(var i=0; i<scores.length-1; i++){ %>
                '<%= scores[i].bz %>',
                <% } %>
                '<%= scores[i].bz %>'
            ]
        },
        yAxis: {
            reversed: true,
            title: {
                text: '年级占位情况'
            }
        },
        series: [{
            name: '年级名次',
            data: [
                <% for(var i=0; i<scores.length-1; i++){ %>
                <%= scores[i].jm %>,
                <% } %>
                <%= scores[i].jm %>
            ]
        }]
    });
});
</script>
<% } %>
<% include footer.ejs %>
